html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #000 !important;
  font-weight: bold;
  text-decoration: none !important;
}

a:hover {
  color: #BE0C0D !important;
}

.navbar, .navbar-brand, .navbar-link, .navbar-nav {
  vertical-align: middle !important;
}

* {
  box-sizing: border-box;
}
